*.png
*.jpg
*/*.png
*/*.jpg
.ipynb_checkpoints/
Untitled.ipynb
__pycache__/
data/ballon
*.weights
*.pt
*/*.json
*.json
*.weights
*.pt
*/*.pt
*/*.weights
results.txt
results.json
balloon
*/*.zip
*.zip
